# Main CI
name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  configure_sonar:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - name: Save Sonar config on PR
        run: |
          mkdir -p ./prInfo
          echo ${{ github.event.number }} > ./prInfo/PR
          echo ${{ github.base_ref }} > ./prInfo/base_ref
          echo ${{ github.head_ref }} > ./prInfo/head_ref
      - uses: actions/upload-artifact@v4
        with:
          name: prInfo
          path: prInfo/

  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build --continue --no-daemon
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.os }}-test-reports
          path: |
            build/test-results/**/*.xml
            build/jacoco/

  kubernetes-integration-tests:
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@1168cd3d07c1876a65e1724114de42ccbdfa7b78 #v3.2.1
      - uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced #v1.9.0
        name: Start cluster
        with:
          version: v0.11.1
      - name: Setup cluster
        run: |
          curl -sL https://github.com/operator-framework/operator-lifecycle-manager/releases/download/v0.19.1/install.sh | bash -s v0.19.1
          kubectl create -f https://operatorhub.io/install/service-binding-operator.yaml
          kubectl create -f https://operatorhub.io/install/stable/cloud-native-postgresql.yaml
          nb=0
          echo -n "Waiting for operator to show up "
          while [ "$nb" != "2" ]
          do
            echo -n "."
            sleep 1
            nb=`kubectl get pods -n operators --no-headers --ignore-not-found | grep Running | wc -l`
          done
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Play integration tests
        run: ./gradlew integrationTest --continue --no-daemon
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: kubernetes-integration-tests-reports
          path: |
            build/test-results/**/*.xml
            build/jacoco/