# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      continue-on-error: true
      run: ./gradlew build
    - name: Publish Test Report
      uses: scacap/action-surefire-report@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        report_paths: '**/build/test-results/**/TEST-*.xml'
        check_name: Test Report for ubuntu-latest

  openshift-integration-tests:
    runs-on: ubuntu-latest
    needs: build-linux

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: manusa/actions-setup-openshift@v1.1.2
        name: Start cluster
        with:
          oc version: 'v3.11.0'
          dns ip: '1.1.1.1'
      - name: Setup cluster
        run: |
          oc cluster add service-catalog
          oc cluster add template-service-broker
          oc cluster add automation-service-broker
          curl https://raw.githubusercontent.com/minishift/minishift/master/addons/xpaas/v3.10/xpaas-streams/openjdk18-image-stream.json --location --output openjdk18-image-stream.json
          oc login -u system:admin
          oc apply -f openjdk18-image-stream.json -n openshift
          oc login -u developer -p dummy
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        continue-on-error: true
        run: ./gradlew integrationTest
      - name: Stop Cluster
        run: |
          oc cluster down
          rm -rf openshift.local.clusterup
      - name: Publish Test Report
        uses: scacap/action-surefire-report@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '/home/runner/work/intellij-openshift-connector/intellij-openshift-connector/build/test-results/**/TEST-*.xml'
          check_name: Integration Test Report

  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      continue-on-error: true
      run: ./gradlew build
    - name: Publish Test Report
      uses: scacap/action-surefire-report@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        report_paths: '**/build/test-results/**/TEST-*.xml'
        check_name: Test Report for macos-latest

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      continue-on-error: true
      run: ./gradlew build
    - name: Publish Test Report
      uses: scacap/action-surefire-report@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        report_paths: '**/build/test-results/**/TEST-*.xml'
        check_name: Test Report for windows-latest
