name: Publish reports

on:
  workflow_run:
    workflows: ["Java CI with Gradle"]
    types:
      - completed

jobs:
  publish:
    name: Publish Test Report
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: '*-test-reports'
          merge-multiple: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{github.event.workflow_run.id}}
      - name: Unzip artifacts
        run: |
          ls
          ls ${{github.workspace}}/
          find ${{github.workspace}}/ -name '*.zip' -exec sh -c 'unzip -d "${1%.*}" "$1"' _ {} \;
      - name: Publish aggregated tests reports
        uses: scacap/action-surefire-report@4cbb611f23a9b5a030c73c2b32190a80983956ed #v1
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          report_paths: '${{github.workspace}}/*test-reports/**/TEST-*.xml'
          commit: ${{github.event.workflow_run.head_sha}}
          check_name: Aggregated Test Report
