name: Validate against IJ versions

on:
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        IJ: [IU-2019.1, IU-2019.2, IU-2019.3, IU-2020.1, IU-2020.2, IU-2020.3]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build -PideaVersion=${{ matrix.IJ }}
